{% extends 'base.html.twig' %}

{% block title %}Hello CompanyController!{% endblock %}

{% block body %}
<style>

</style>

<div class="example-wrapper">

    <p>{{ company.name }}</p>

</div>
{% endblock %}
